.account{
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 26px;
  height: 26px;
  display: inline-block;
  text-align: center;
  line-height: 26px;
  background: #1890ff;
  border-radius: 50%;
}